!xserver resolution
*dpi : 168
Xft.dpi: 168

!urxvt
URxvt*font: xft:Hack:size=8:antialias=true, xft:Symbola
URxvt.letterSpace: 1
URxvt.scrollBar: false
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: firefox
URxvt.transparent: true
URxvt.shading: 15
URxvt.background: #181818

!ibus
URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
